{% extends 'base.html' %}
{% block content %}
<style>
  .flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 1000px) {
  .flex-container {
    flex-direction: column;
  }
}
</style>


<div class="container">
  <div class="row">
    <div class="col-8 border-right">

      <div class="flex-container">
        <div class="flex-item-left">1</div>
        <div class="flex-item-right">2</div>
      </div>
      



        <p>Thank you for visiting my simple webpage!</p>
      
        {% for object in object_list %}
        <div id="content_{{object.id}}">

          <div class="card m-3">
            <div>
              <a href="{% url 'blog:blog_detail' object.id %}">{{object.title}}</a>
              <!-- {{ object.content | safe}} -->
            </div>
          </div>

          <!-- <p>{{object.content | safe}}</p> -->
        </div>
        {% endfor %}

    </div>
    <div class="col-4">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small>Donec id elit non mi porta.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small class="text-muted">Donec id elit non mi porta.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small class="text-muted">Donec id elit non mi porta.</small>
        </a>
      </div>
    </div>
  </div>
</div>

<script>
var cont = document.getElementsByTagName('p').innerHTML;
console.log(cont);
</script>

{% endblock %}  