{% extends 'base.html' %}

{% block content %}

<style>

  {% comment %} .replies {
      margin-left: 20px;
      display: none;
  } {% endcomment %}
  .fa-star:hover{
    
  }

  .replies.show {
      display: block;
  }
  .checked{
    color: red;
  }
  .unchecked{
    color:gray;
  }
  .rating{
    cursor:pointer;
  } 
</style>  


{% if messages %}
  {% for message in messages %}
    <p>{{message}}</p>
  {% endfor %}
{% endif %}

<!-- <div class="container"> -->
<div class="row">
    <div class="col-md-8">
      {% if request.user == blog_model.user %}
      <a href="{% url 'blog:update_blog' blog_model.id %}" class="btn btn-primary btn-sm">Edit</a>
      <a href="" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary btn-sm">Delete</a><br>
      {% endif %}
      <br>
      {% if blog_model.image %}
        <img src=" {{blog_model.image.url}}" alt="superman" width="100%">
      {% endif %}
      <br><br>
      <strong><a href="{% url 'account:ProfileView' blog_model.user.id %}">{{blog_model.user.first_name}}</a></strong>
      <p>{{blog_model.created_at}}</p>
      <h1>{{blog_model.title }}</h1>
      {{blog_model.content | safe}}
      <hr>
      <div>
        {% for i in blog_model_tags %}
          <span><a href="#">#{{i}}</a></span>
        {% endfor %}
      </div>
      <br>
      <div>
        <div class="d-flex flex-nowrap justify-content-around bd-highlight">
          <div>
            <a id="dataContainer" href="{% url 'blog:like_post' blog_model.id %}"><i id="like_icon" class="{% if like %}fa fa-solid fa-heart fa-xl checked{% else %}fa fa-regular fa-heart fa-xl unchecked{% endif %}"></i></a>&nbsp;<span id="likes" style="font-size: 1.2rem;">{{total_likes}}</span>
          </div>
          <form method="post" id="rating_form">
            {% csrf_token %}
            <div class="rating">
                <div>
                  <i class="fa-solid fa-star fa-xl" value="1" style="color: black;" title="click to give 1 raing"></i>
                  <i class="fa-solid fa-star fa-xl" value="2" style="color: black;" title="click to give 2 raing"></i>
                  <i class="fa-solid fa-star fa-xl" value="3" style="color: black;" title="click to give 3 raing"></i>
                  <i class="fa-solid fa-star fa-xl" value="4" style="color: black;" title="click to give 4 raing"></i>
                  <i class="fa-solid fa-star fa-xl" value="5" style="color: black;" title="click to give 5 raing"></i>  
                  <span id="total_rate_value">{{total_rate}}</span> rating by <span id="total_rate_user_value">{{total_rate_user}}</span>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>


    <div class="col-md-4 border p-3">
      <form method="post">
        {% csrf_token %}
        {{ form }}
      </form>
      <form method="post" id="reply-form">
        {% csrf_token %}
        {% for form_fields in blog_comment_form %}
          {% if form_fields.name != 'name' %}
            {{ form_fields }}
          {% endif %}
        {% endfor %}
        <hr>
      </form>


      <div class="comment-section">
        <h3>Comment Section</h3><hr>
        <ol style="padding:0;list-style:none;">
        {% for comment in blog_comments %}
          {% if not comment.parent_comment %}
            <div data-parent-id="{{comment.id}}" class="border rounded p-1 m-1">
                <li style="padding:5"><strong>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/542px-Unknown_person.jpg" class="rounded-circle" alt="img" width="30">
                  {{comment.user}}<br></strong>{{comment.comment}}<input type="hidden" id="parent_id" name="parent_id_comment" value="{{comment.id}}">
                  <span>
                    {% if request.user.is_authenticated %}&nbsp;&nbsp;<a href="#" class="reply-field"><u>reply</u></a>&nbsp;
                      {% if comment.user == request.user%}
                      <a href="" id="delete_comment" data-target="#parentCommentId" data-toggle="modal"><u>delete</u>
                      </a>
                      {% endif %}
                    {% endif %}
                  </span>
                </li>

                  <!-- Modal parent-comment deletion -->
                  <div class="modal fade" id="parentCommentId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Delete blog</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to delete this comment, all reply will be deleted as well!</p>  
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                          <form method="post" action="{% url 'blog:DeleteComment' comment.id %}">
                            {% csrf_token %}
                            <!-- <button type="submit" data-blog-id="{{blog_model}}" class="btn btn-danger">delete</button> -->
                            <button type="submit" class="btn btn-secondary">delete</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                {% for j in blog_comments %}
                  {% if j.parent_comment == comment %}
                  <div data-child-id="{{j.id}}">
                    <li>
                      <ol style="list-style:none;">
                        <li class="m-1">
                          <strong>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/542px-Unknown_person.jpg" class="rounded-circle" alt="img" width="30">
                            {{j.user}}<br></strong>{{j.comment}}<input type="hidden" name="child_id" value="{{j.id}}"><span>{% if request.user.is_authenticated %}&nbsp;&nbsp;
                            <a href="#" class="reply-field">reply</a>&nbsp;<a href="" id="delete_comment" data-toggle="modal" data-target="#deleteCommentModal" ><u>delete</u></a>{% endif %}
                          </span>
                        </li>
                      </ol>
                    </li>
                  </div>

                  <!-- Modal child-comment deletion -->
                  <div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Delete blog</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to delete this comment!</p>  
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                          <form method="post" action="{% url 'blog:DeleteComment' j.id %}">
                            {% csrf_token %}
                            <!-- <button type="submit" data-blog-id="{{blog_model}}" class="btn btn-danger">delete</button> -->
                            <button type="submit" class="btn btn-secondary">delete</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  {% endif %}
                {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
        </ol>
      </div>
    </div>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal blog deletion -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete blog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this!</p>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
        <form method="post" action="{% url 'blog:delete_blog' blog_model.id %}">
          {% csrf_token %}
          <!-- <button type="submit" data-blog-id="{{blog_model}}" class="btn btn-danger">delete</button> -->
          <button type="submit" class="btn btn-secondary">delete</button>
        </form>
      </div>
    </div>
  </div>
</div>



<script>

  document.addEventListener("DOMContentLoaded", function() {
    const replyLinks = document.querySelectorAll('.reply-field');
    replyLinks.forEach(function(link) {
      link.addEventListener('click', addReplyForm);
    });

    function addReplyForm(event) {
      event.preventDefault();
      const parentDiv = event.target.closest('div[data-parent-id]');
      const formExists = parentDiv.querySelector('.reply-form');
      if (!formExists) {
        // const hidden_input = document.createElement('input');
        // hidden_input.setAttribute('value',)
        const node = document.getElementById('parent_id');
        const clone = node.cloneNode(true);
        const form = document.createElement('form');
        // form.setAttribute()
        form.setAttribute('method', 'post');
        form.appendChild(clone);
        form.classList.add('reply-form');
        form.innerHTML = `
          {% csrf_token %}

          <div class="input-group mb-3">
            <input type="hidden" name="parent_comment_id" value="${parentDiv.dataset.parentId}">
            <input name="reply" type="text" class="form-control" placeholder="your reply" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">submit</button>
            </div>
          </div>

          `;
          parentDiv.appendChild(form);
        }
      }
    });
    
    {% comment %} <input type="hidden" name="parent_comment_id" value="${parentDiv.dataset.parentId}">
    <input name="reply" placeholder="Your reply" class="form-control"></input>
    <button type="submit" class="btn btn-primary btn-sm btn-sm">Submit</button> {% endcomment %}

  document.getElementById('like_icon').addEventListener('click',(e)=>{
    e.preventDefault()
    fetch('{% url 'blog:like_post' blog_model.id %}')
    .then(response => response.json())
    .then(data => {
      if(data.status){
        document.getElementById('like_icon').setAttribute('class','fa-solid fa-heart fa-xl checked')
        document.getElementById('likes').innerHTML = data.total
      }else{
        document.getElementById('like_icon').setAttribute('class',"fa-regular fa-heart fa-xl unchecked")
        document.getElementById('likes').innerHTML = data.total
      }
    })
  })


  document.addEventListener("DOMContentLoaded",()=>{
    const star = document.querySelectorAll(".fa-star");

    for(let i = 0;i < {{avg_rate}};i++){
      if(star[i].getAttribute('value') <= {{avg_rate}}){
        star[i].setAttribute('class','fa-solid fa-star fa-xl');
        star[i].setAttribute('style','color:#FFD43B');
      }
    }

    //sending rating data using fetch api 
    const starList = Array.from(document.querySelectorAll(".fa-star"));
    starList.forEach(item =>{
      item.addEventListener("click",()=>{
        const ratingValue = item.getAttribute('value')
        const form = document.getElementById('rating_form')
        const csrftoken = form.querySelector('[name=csrfmiddlewaretoken]').value
        fetch('{% url "blog:rateBlog" blog_model.id %}',{
          method:"POST",
          headers:{
            'Content-Type':'application/json',
            'X-CSRFToken': csrftoken
          },
          body:JSON.stringify({rating_value:ratingValue}),
        })
        .then(response => response.json())
        .then(data =>{
          console.log(data)
          document.getElementById('total_rate_value').textContent = data.total_rate_fetch;
          document.getElementById('total_rate_user_value').textContent = data.total_rate_user_fetch;
        })
      })
    })
  })
</script>

{% endblock %}

