{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-8">
      {% if request.user == object.user %}
      <a href="{% url 'blog:update_blog' object.id %}">Edit</a>
      <a href="">Delete</a><br>
      {% endif %}
      {% if object.image %}
        <img src=" {{object.image.url}}" alt="" width="100%">
      {% endif %}
      <strong>{{blog_model.user}}</strong>
      <p>{{blog_model.created_at}}</p>
      <h3>{{blog_model.title }}</h3>
      {{blog_model.content | safe}}
    </div>
    <div class="col-4 border p-3">
      <form method="post">
        {% csrf_token %}
        {{ form }}
      </form>
      <form method="post" id="reply-form">
        {% csrf_token %}
        {% for form_fields in blog_comment_form %}
          {% if form_fields.name != 'name' %}
            {{ form_fields }}
          {% endif %}
        {% endfor %}
        <hr>
      </form>
      <h3>Comment Section</h3>
      <!-- {{ blog_comments }} -->
      {% for comments in blog_comments %}
      <div class="comment_section" data-comment-id="{{comments.id}}">
        <p>{{comments.user}}: {{  comments.comment }} <span><a href="#" class="reply-field">reply</a></span></p>
      </div>
      {% endfor %}
    </div>
  </div>    
</div>

<script>
  const reply_field = document.querySelectorAll('.reply-field');
  reply_field.forEach(function(reply_field){
    reply_field.addEventListener('click',add_input_function);
  });


  function add_input_function(e) {
    var comment_section = e.target.closest('.comment_section');

    if (comment_section && !comment_section.querySelector('.form-control[name="comment_id"]')) {
        var commentId = comment_section.dataset.commentId;

        // Create a new form element
        var replyForm = document.createElement('form');
        replyForm.setAttribute('method', 'post');


        var csrfTokenInput = document.createElement('input');
        csrfTokenInput.setAttribute('type','hidden');
        csrfTokenInput.setAttribute('name','csrfmiddlewaretoken');
        csrfTokenInput.setAttribute('value','{{ csrf_token }}');

        // Create a hidden input for the comment id
        var commentIdInput = document.createElement('input');
        commentIdInput.setAttribute('type', 'hidden');
        commentIdInput.setAttribute('name', 'comment_id');
        commentIdInput.setAttribute('value', commentId);

        // Create the reply input
        var comment_field = document.createElement('input');
        comment_field.setAttribute('placeholder', 'reply');
        comment_field.setAttribute('class', 'form-control');
        comment_field.setAttribute('name', 'reply');

        // Append both inputs to the form
        replyForm.appendChild(csrfTokenInput);
        replyForm.appendChild(commentIdInput);
        replyForm.appendChild(comment_field);
        

        // Append the form to the comment section
        comment_section.appendChild(replyForm);
    }
  }




  // function add_input_function(e) {
  //   var comment_section = e.target.closest('.comment_section');
  //   if (comment_section && !comment_section.querySelector('input')) {
  //     var commentId = comment_section.dataset.commentId;

  //     // Create a hidden input for the comment id
  //     var commentIdInput = document.createElement('input');
  //     commentIdInput.setAttribute('type', 'hidden');
  //     commentIdInput.setAttribute('name', 'comment_id');
  //     commentIdInput.setAttribute('value', commentId);


  //     var comment_field = document.createElement('input');
  //     comment_field.setAttribute('placeholder','reply');
  //     comment_field.setAttribute('class','form-control');

  //     comment_section.appendChild(commentIdInput);
  //     comment_section.appendChild(comment_field);
  //   }
  // }
</script>

<!-- 
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this post!</p>
        <form id="del-form" method="post" action="">
        	{% csrf_token %}
        	<input id="_slug" type="hidden" name="slug"/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="del-btn" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    let modal = document.getElementById("exampleModal");
    modal.addEventListener("show.bs.modal",function(evt){
      let deleteButton = evt.relatedTarget;
      $("#_slug").val(deleteButton.dataset.slug);
    });
    $("#del-btn").click(function(){
      $("#del-form").submit();
    })
  });
</script> -->
{% endblock %}