{% extends 'base.html' %}
{% block content %}
    <div>
        <h4>Library</h4>
        {% for b in blog_public %}
            <div>
                <div id="content_{{b.id}}" class="card mt-4">
                    <div class="card-header">
                        <div>
                            <a href="{% if b.status == 'public' %}{% url 'blog:blog_detail' b.id %} {% else %} {% url 'blog:update_blog' b.id %} {% endif %}">{{b.title}}&nbsp;&nbsp;&nbsp; {% if b.status == 'draft' %}<span class="badge badge-warning">DRAFT</span>{% endif %}</a>
                        </div>
                    </div>
                    <div class="card-body py-0 px-2">
                        <div class="row">
                            <div class="col">
                                <blockquote class="blockquote mb-0">
                                    <p><small>{{b.content|striptags|slice:":200"|lower|safe}}...</small></p>
                                    <footer class="blockquote-footer">{{b.user.first_name}}&nbsp;&nbsp;<cite title="Source title">{{b.created_at}}</cite></footer>
                                </blockquote>
                            </div>
                            <div class="col-auto">
                              {% if b.image %}
                                <img src="{{b.image.url}}" width="100px" height="100px" alt="Image" class="img-fluid m-3">
                              {% else %}
                                <img src="https://hips.hearstapps.com/hmg-prod/images/blue-lake-water-with-waves-background-royalty-free-image-1701283846.jpg?crop=0.66667xw:1xh;center,top&resize=1200:*" width="100px" height="100px" alt="Image" class="img-fluid m-3">
                              {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}