{% extends 'base.html' %}
{% block content %}
<script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</script>

<style>
  .circle-image {
    position: relative;
    display: inline-block;
    width: 300px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
    border-radius: 50%;
  }
  
  .circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image fills container */
  }
  

  table {
    border-collapse: collapse; /* Remove default table borders */
  }
  th, td {
    padding: 5px; /* Add padding for spacing */
  }
  .stat-label {
    font-weight: bold; /* Style the labels */
  }


  .profile-name{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .intro{
    padding:10px 0;
  }
  #second{
    display:none;
  }
</style>

{% if messages %}
    {% for message in messages %}
    <div class="border border-success p-2 rounded text-success">{{message}}</div>
    {% endfor %}
{% endif %}
<div class="container">
  <div class="row">
    <div class="col-md-4 "> 

      <div class="intro text-center">
        <div class="circle-image">
          {% if profile_model.avatar %}
            <img src="{{profile_model.avatar.url}}" alt="profile image" width="300" class="rounded-circle">
          {% else %}
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/542px-Unknown_person.jpg" alt="user_image" width="300" class="rounded-circle">
          {% endif %}
        </div>
      </div>

      <div class="p-4">
        <table>
          <tr>
            <th class="stat-label"><i class="fa-brands fa-readme fa-beat fa-xl"></i> &nbsp; Content</th>
            <td class="stat-value">: {{total_contents|length}}</td>
          </tr>
          <tr>
            <th class="stat-label"><i class="fa-solid fa-heart fa-beat fa-xl"></i> &nbsp; Likes</th>
            <td class="stat-value">: {{total_likes}}</td>
          </tr>
          <tr>
            <th class="stat-label"><i class="fa-solid fa-star fa-beat fa-xl"></i>&nbsp; Rating </th>
            <td class="stat-value">: {{total_rating}}</td>
          </tr>
          <tr>
            <th class="stat-label"><i class="fa-solid fa-comment fa-beat fa-xl"></i> &nbsp; Comments </th>
            <td class="stat-value">: {{total_likes}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-8">
      <div class="intro">
        <h3 class="profile-name">{{profile_model.user.first_name}}&nbsp;{{profile_model.user.last_name}}</h3>
        <p>{{profile_model.address}}</p>
        <p><i class="fa-solid fa-cake-candles"></i>&nbsp;{{profile_model.dob}}&nbsp;&nbsp;<span>{{profile_model.gender}}</span></p>

        <p>
          <a href="" data-toggle="modal" data-target="#exampleModalScrollable_follower">followers:{{follower|length}}</a>&nbsp;&nbsp;
          <a href="" data-toggle="modal" data-target="#exampleModalScrollable_following">following:{{following|length}}</a>
        </p>
        <p>{{profile_model.bio}}</p>
        <a href="mailto:recipient@example.com">{{profile_model.user.email}}</a><br><br>

        {% if profile_model.user == request.user %}
        <a class="btn btn-sm btn-primary" id="magic" href="{% url 'account:UpdateProfile' profile_model.id %}">Update Profile</a>
        {% endif %}

        {% if not profile_model.user == request.user %}
        <a href="{% if not request.user.is_authenticated %}{% url 'account:userLogin' %}{% else %}{% url 'account:followInProfile' profile_model.user.id %}{% endif %}" class="btn btn-sm btn-primary">{% if follower %}Unfollow{% else %}Follow{% endif %}</a>
        {% endif %}



      </div>
      <hr>
      <div>
        <h3>Top writting</h3>
        {% if CreateBlogModel %}
                {% for blog in CreateBlogModel.all %}

                  <div id="content_{{object.id}}" class="card mt-4">
                    <div class="card-header">
                        <div>
                            <a href="{% url 'blog:blog_detail' blog.id %}">{{blog.title}}</a>
                        </div>
                    </div>
                    <div class="card-body py-0 px-2">
                        <div class="row">
                            <div class="col">
                                <blockquote class="blockquote mb-0">
                                    <p><small>{{blog.content|striptags|slice:":200"|lower|safe}}...</small></p>
                                    <footer class="blockquote-footer">{{blog.user.first_name}}&nbsp;&nbsp;<cite title="Source title">{{blog.created_at}}</cite></footer>
                                </blockquote>
                            </div>
                            <div class="col-auto">
                              {% if blog.image %}
                                <img src="{{blog.image.url}}" width="100px" height="100px" alt="Image" class="img-fluid m-3">
                              {% else %}
                                <img src="https://hips.hearstapps.com/hmg-prod/images/blue-lake-water-with-waves-background-royalty-free-image-1701283846.jpg?crop=0.66667xw:1xh;center,top&resize=1200:*" width="100px" height="100px" alt="Image" class="img-fluid m-3">
                              {% endif %}
                            </div>
                        </div>
                    </div>
                  </div>


                    {% comment %} <div id="content_{{ blog.id }}" class="card mt-3">
                        <div class="card-header">
                            <div>
                                <a href="{% url 'blog:blog_detail' blog.id %}">{{ blog.title }}</a>
                            </div>
                        </div>
                        <div class="card-body py-0 px-2">
                            <blockquote class="blockquote mb-0">
                                <p><small>{{ blog.content|striptags|slice:":200"|lower|safe }}...</small></p>
                                <footer class="blockquote-footer">Someone famous in <cite title="Source title">Source title</cite></footer>
                            </blockquote>
                        </div>
                    </div> {% endcomment %}
                {% endfor %}
            {% else %}
                <p>No blog available.</p>
            {% endif %}
      </div>
    </div>
  </div>
</div>


<!-- follower Modal -->
<div class="modal fade" id="exampleModalScrollable_follower" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          {% if follower %}
            {% for i in follower %}
            <div class="d-flex justify-content-between">
              <a href="{% url 'account:ProfileView' i.id %}" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">{{i}}</a>
            </div>
            {% endfor %}
          {% else %}
          <p>0 follower</p>
          {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- following Modal -->
<div class="modal fade" id="exampleModalScrollable_following" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          {% if following %}
            {% for i in following %}
            <div class="d-flex justify-content-between">
              <a href="{% url 'account:ProfileView' i.id %}" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">{{i}}</a>
            </div>
            {% endfor %}
          {% else %}
          <p>0 follower</p>
          {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}