{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crunch Blog</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'js/tinymce.min.js' %}">

        <!-- <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
        <link rel="stylesheet" href="{% static 'js/jquery.min.js' %}">
        <link rel="stylesheet" href="{% static 'js/popper.min.js' %}"> -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- <script src="https://cdn.tiny.cloud/1/seq26p9d00odqqdjovphd4yesq3avdmgpjdip3y3x83058gv/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script> -->
    {% endblock %}

    <style>
        /* .container{
            border: 1px solid black;
        } */
    </style>

</head>
<body>
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>