<div class="footer bg-dark text-light">
	<div class="container">
		<div class="d-flex justify-content-between p-3">
			<div class="p-1">
				<div>
					<p class="fs-6">Employers</p><hr>
					<ul>
						<li><a href="{% url 'account:userSignup' %}">Register</a></li>
						<li><a href="{% url 'blog:Contactpage' %}">Contact Us</a></li>
					</ul>
				</div>
			</div>
			<div class="p-1">
				<div>
					<p class="fs-6">Readers</p><hr>
					<ul>
						<li><a href="{% url 'account:userSignup' %}">Register</a></li>
						<li><a href="{% url 'account:userLogin' %}">Login</a></li>
						<li><a href="">Search article</a></li>
					</ul>
				</div>
			</div>
			<div class="p-1">
				<div>
					<p class="fs-6">Links</p><hr>
					<ul>
						<li><a href="{% url 'blog:home' %}">Blog</a></li>
						<li><a href="{% url 'blog:Contactpage' %}">Contact Us</a></li>
						<li><a href="{% url 'blog:Aboutpage' %}">About Us</a></li>
					</ul>
				</div>
			</div>
			<div class="p-1">
				<div>
					<p class="fs-5">Crunch</p><hr>
					<ul class="info">
						<li><a href="{% url 'blog:home' %}">Crunch</a></li>
						<li><a href="#">Address</a></li>
						<li><a href="#">Phone no</a></li>
						<li><a href="#">info@Crunch.com</a></li>
						<li>
							<div class="d-flex flex-row mb-3">
								<a href="#"><i class="fa-brands fa-facebook"></i></a>
								<a href="#"><i class="fa-brands fa-instagram"></i></a>
								<a href="#"><i class="fa-brands fa-youtube"></i></a>
								<a href="#"><i class="fa-brands fa-x-twitter"></i></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
        <div class="text-center py-3">
            <p class="fs-6">Copyright © 2024 Your Company. All rights reserved.</p>
        </div>
	</div>
</div>