<style>
  .navbar{
    background-color: #D0D3D4;
  }
  .navbar a{
    color:#092635;
  }
  .navbar-nav{
    background-color: #D0D3D4;
  }
  .navbar_brand{
    font-size: 2rem;
  }
  .dropdown-menu{
    background-color: #D0D3D4;
  }

</style>

<nav class="navbar navbar-expand-lg mb-3">
  <div class="container">
    <!-- Brand/logo -->
    <a class="navbar-brand p-2 navbar_brand" href="{% url 'blog:home' %}">Crunch Blog</a>

    <!-- Burger button for mobile devices -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Left-aligned links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:home' %}">Home</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:Aboutpage' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:Contactpage' %}">Contact Us</a>
        </li>
      </ul>

      <!-- Right-aligned links and dropdown -->
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:create_blog' %}">write</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.user.email}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'account:ProfileView' request.user.id %}">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'account:userLogout' %}">Logout</a>
          </div>
        </li>
        {% else %}
        <a class="nav-link" href="{% url 'account:userLogin' %}">Login</a>
        <a class="nav-link" href="{% url 'account:userSignup' %}">Signup</a>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>